body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo-principal{
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

.header{
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
}

.menu-opcoes{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 20px; 
}

.header__nav a{
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
}

.header__nav a:hover{
    text-decoration: underline;
    background-color:#cbe300 ;
    color: #0c1014;
}

a.plano-mod{
    background-color: #cbe300;
    color: #0c1014;
    cursor: default;
}

.preco{
    display: flex;
    gap: 16px;
}

.preco-plano{
    flex: 1;
    background-color: #1f2c2c;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px -6px black;
    display: flex;
    flex-direction: column;
}

.plano-titulo{
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 10px;
}

.plano-valor p{
    margin-top: 0;

}

.plano-valor{
    font-size: 34px;
}

.preco-caracteristicas{
    margin: 0 0 35px 0;
    color: #b5b5b5;
    padding-left: 16px;
    line-height: 1.8;
    flex-grow: 1;
}

.preco-caracteristicas li::marker {
    color: #cbe300;
}

.preco-cta{
    text-decoration: none;
    color: #0c1014;
    background-color: #cbe300;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:bold;
    padding: 16px 10px;
    text-align: center;
}

.preco-cta:hover{
    outline: 2px solid #cbe300;
    background-color: transparent;
    color: white;
}